.explore-rounds-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f8;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  

  .rounds-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Adjusts space between cards */
    padding: 20px;
  }

  .card {
    margin: 0 auto;
  }
  
  .round-pane {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .round-pane:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff;
  }
  
  p {
    margin: 5px 0;
    color: #ffffff;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  